
/*=============================================================
    Authour URI: www.binarycart.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */
/*==============================================
    GENERAL  STYLES    
    =============================================*/
body {
    font-family: 'Open Sans', sans-serif;
    line-height:30px;
}

 #wrapper {
    width: 100%;
    margin-top:50px;
}

#page-wrapper {
    padding: 15px 15px;
    min-height: 600px;
    background:#F3F3F3;
   
}
#page-inner {
    width:100%;
    margin:10px 20px 10px 0px;
    background-color:#fff!important;
    padding:10px;
    min-height:1050px;
}
.pad-top {
    padding-top:15px;
}
/*==============================================
    MENU STYLES    
    =============================================*/

.sidebar-collapse .nav {
	padding:0;
    padding-top:20px;  /*editedfrom 50px to 20px*/
}

.sidebar-collapse > .nav > li > a {
	padding:15px 10px;
    color: #214761;
font-weight: 900;
font-size: 16px;
}
.sidebar-collapse > .nav > li {
	border-bottom:1px solid #e1e1e1;
}
.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus {
	
	background:#F3F3F3;
	outline:0;
}

.navbar-side {
	border:none;
	background-color: #fff;
	
}
.navbar-inverse {

background-color: #214761;
border-color: #F0F0F0;
min-height: 50px;
}


.nav > li > a > i {
    margin-right:10px;
}
.logout-spn {
    float:right;
    color:#fff;
    font-size:25px;
    font-weight:800;
    margin:20px;
    margin: 10px 25px 10px 50px;
}
    .logout-spn a {
        text-decoration:none;
    }
.active-link {
    background-color:#f3f3f3;
}
    
/*==============================================
    DASHBOARD STYLES    
    =============================================*/
.div-square {
    padding:5px;
    border:3px double #e1e1e1;
    -webkit-border-radius:8px;
   -moz-border-radius:8px;
    border-radius:8px;
    margin:5px;
    height: 150px;

}

.div-square> a,.div-square> a:hover {
    color:#808080;
     text-decoration:none;
}
/*==============================================
    FOOTER STYLES     
    =============================================*/
.footer {
    background-color:#214761;
    width:100%;
    color:#fff;
    padding:20px 50px 20px 50px;
     padding-left:20px;
}


    .footer > a, .footer>a:hover {
       
        color:#fff;
    }

/*==============================================
    MEDIA QUERIES     
    =============================================*/
 
 @media(min-width:768px) {
     #page-wrapper{
               margin: 0 0 0 238px;
               margin-top: -19px; /*edited from 250-238*/
        padding: 15px 30px;
        min-height: 1050px;
		
    }
	
	
    .navbar-side {
        z-index: 1;
        position: absolute;
        width: 260px;
       
    }

 
}
.navbar-default .navbar-side{
    padding-right: 21px;
    margin-right: 40px;
    padding-top: 19px;
}
div .tabs{
    overflow: hidden;
    /*border: 1px solid #ccc;
    background-color: #f1f1f1*/
}
div.tabs button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    /*padding: 14px 16px;*/
    transition: 0.3s;
    font-size: 17px;
    width: 120px;
    color: #5e5e5e;
    border: 1px solid #ddd;
    font-weight: bold;
}
div.tabs button:hover {
    background-color: #ddd;
}
div.tabs button.active {
    background-color: #ccc;
}
tr.tablerow:hover{
    cursor: pointer;
    background-color: #ccc;
}
table tr td a:hover{
    text-decoration: none;
}
#trigger:hover{
    color: #00bfff;
}

table{
    border-collapse: collapse;
}
table, td, th,{
    border: 1px solid black;
}


@media print
{
body * { visibility: hidden; }
#content * { visibility: visible; }
/*.div2 { position: absolute; top: 40px; left: 30px; }*/
}


