<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple Responsive Admin</title>
	<!-- BOOTSTRAP STYLES-->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
     <!-- FONTAWESOME STYLES-->
    <link href="assets/css/font-awesome.css" rel="stylesheet" />
        <!-- CUSTOM STYLES-->
    <link href="assets/css/custom.css" rel="stylesheet" />
     <!-- GOOGLE FONTS-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
  
    
   
   
      
      <script type="text/javascript">
   <!--
      // Form validation code will come here.
      function validate()
      {
      
         if( document.myForm.FirstName.value == "" )
         {
            alert( "Please provide your First name!" );
            document.myForm.FirstName.focus() ;
            return false;
         }
       
         if( document.myForm.LastName.value == "" )
         {
            alert( "Please provide your Last name!" );
            document.myForm.LasttName.focus() ;
            return false;
         }
       
        if( document.myForm.Gender.value == "" )
         {
            alert( "Please provide your Gender!" );
            document.myForm.Gender.focus() ;
            return false;
         }
       
       if( document.myForm.Birthday.value == "" )
         {
            alert( "Please provide your Birthday!" );
            document.myForm.Birthday.focus() ;
            return false;
         }
       
       
       
       
       
         
         if( document.myForm.Designation.value == "" )
         {
            alert( "Please provide your Designation!" );
            document.myForm.Designation.focus() ;
            return false;
         }
         
        
         
         if( document.myForm.Address.value == "" )
         {
            alert( "Please provide your Address!" );
              document.myForm.Address.focus() ;
            return false;
         }
        
       
       if( document.myForm.ContactNumber.value == "" )
         {
            alert( "Please provide your Contact Number!" );
              document.myForm.ContactNumber.focus() ;
            return false;
         }
         
       
       if( document.myForm.Email.value == "" )
         {
            alert( "Please provide your Email!" );
              document.myForm.Email.focus() ;
            return false;
         }
         
        
         return( true );
       
       
       
       
      }
   //-->
</script>
   </head>
   
   <body>
       
       <div id ="wrapper">
       <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="adjust-nav">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="assets/img/logo.png" />
                    </a>
                </div>
                 
                 <span class="logout-spn" >
                  <a href="#" style="color:#fff;">LOGOUT</a>  

                </span>
             </div>
        </div>
       
         <!--side bar -->  
           <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                 


                     <li> 
                        <a href="main.html" ><i class="fa fa-desktop "></i>Dashboard <span class="badge">Included</span></a>
                    </li>
                   


                    <li>
                        <a href="orders.html"><i class="fa fa-edit "></i>New Orders  <span class="badge">Included</span></a>
                    </li>



                    

                    <li>
                        <a href="users.html"><i class="fa fa-edit "></i>User Profile </a>
                    </li>
                   
                     <li>
                        <a href="#"><i class="fa fa-edit "></i>Notifications </a>
                    </li>
                </ul>
                            </div>

        </nav>
       <div id="page-wrapper" >
         <div id="page-inner">
               <div class="row">
                    <div class="col-md-12">
                        <h2> Edit profile</h2>
                    </div>
                </div>
       
       
       
       
      <form action=""  name="myForm" onsubmit="return(validate());">
        
            <tr>
               <td align="right">First Name :</td>
               <td><input type="text" name="FirstName" /></td>
          </tr>  </br> </br>
           
           
           <tr>
               <td align="right">Last Name :</td>
               <td><input type="text" name="LastName" /></td>
          </tr>  </br> </br>
           
            <tr>
               <td align="right">Gender :</td>
               <td><input type="text" name="Gender" /></td>
          </tr>  </br> </br>
           
<tr>
               <td align="right">Birthday :</td>
               <td><input type="text" name="Birthday" /></td>
          </tr>  </br> </br>
<tr>
               <td align="right">Designation :</td>
               <td><input type="text" name="Designation" /></td>
          </tr>  </br> </br>



           <tr>
               <td align="right">Address :</td>
               <td><input type="text" name="Address" /></td>
          </tr>  </br> </br>
           
<tr>
               <td align="right">Contact Number :</td>
               <td><input type="text" name="Contact Number" /></td>
          </tr>  </br> </br>
           
           
            
            <tr>
               <td align="right">EMail:</td>
               <td><input type="text" name="EMail" /></td>
           </tr>  </br></br>
            
          
            
         
  
            
            <tr>
               <td align="right"></td>
               <td><input type="submit" value="Submit" /></td>
</tr> </br> </br>
            
         
      </form>


</div>
      
   </body>
</html>